REMOTE_DIAL_URL=<remote_dial_url>
REMOTE_DIAL_API_KEY=<remote_dial_api_key>

INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=adminadmin
INFLUXDB_ORG=dial
INFLUXDB_BUCKET=analytics-realtime
INFLUXDB_ADMIN_TOKEN=adminadmin

GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=adminadmin